@import "./variables.scss";

.dashboard-wrapper {
  .mainContent {
    display: flex;
    width: 100%;
    align-items: stretch;
    .sidebarHolder {
      .sideBarWrapper {
        a {
          text-decoration: none;
          color: white;
        }
        background: linear-gradient(
          180deg,
          rgba(38, 34, 80, 0.65) 0%,
          rgba(27, 25, 66, 0.85) 57.44%,
          #17163b 100%
        );
        height: 100%;
        min-width: 400px;
        max-width: 400px;
        transition: all 0.3s;
        &.active {
          height: 100vh;
          margin-left: -310px;
          display: flex;
          flex-wrap: wrap;
          justify-content: end;
          .sideBarWrapper-content {
            .sidebar-item {
              display: none !important;
            }
            .icon-only {
              display: block;
              &.active {
                img.active {
                  display: block;
                }
                img.inactive {
                  display: none;
                }
              }
              &.inactive {
                img.active {
                  display: none;
                }
                img.inactive {
                  display: block;
                }
              }
            }
            .sidebar-toggler {
              cursor: pointer;
              img.open {
                display: block;
              }
              img.close {
                display: none;
              }
            }
            .sidebar-card-holder {
              display: none;
            }
          }
        }
        &-content {
          .sidebar-toggler {
            cursor: pointer;
            position: relative;
            right: 35px;
            img.open {
              display: none;
            }
            img.close {
              display: block;
            }
          }
          .sidebar-item {
            &-icon {
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
          .icon-only {
            img {
              width: 25px;
              height: 25px;
            }
            display: none;
          }
          .top-sidebar-item-holder {
            margin-bottom: 145px;
          }
          .other-sidebar-items-holder {
            .single-sidebar-item {
              width: 100%;
            }
            .sidebar-item {
              .state-icon {
                img {
                  width: 50px;
                  height: 50px;
                  margin: -15px 0 0 -15px;
                  visibility: hidden;
                }
              }
              &-text {
                h3 {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 22px;
                  line-height: 19px;
                  letter-spacing: 0.5px;
                  color: $sidebar-inactive-text-color;
                }
              }
              &-icon {
                img.active {
                  display: none;
                }
                img.inactive {
                  display: block;
                }
              }
              &-noti-icon {
                img {
                  visibility: hidden;
                  width: 25px;
                  height: 25px;
                }
              }
              &.active {
                .state-icon {
                  img {
                    visibility: visible;
                  }
                }
                .sidebar-item-text {
                  h3 {
                    color: $sidebar-active-text-color;
                  }
                }
                .sidebar-item-icon {
                  img.active {
                    display: block;
                  }
                  img.inactive {
                    display: none;
                  }
                }
                .sidebar-item-noti-icon {
                  img {
                    visibility: visible;
                  }
                }
              }
            }
          }
          .sidebar-card-holder {
            display: block;
            .sidebar-card {
              background: linear-gradient(180deg, #13b2e6 0%, #2f80ed 100%);
              border-radius: 16px;
              padding: 27px;
              h4 {
                font-style: bold;
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 0.016em;
                color: #fafcfe;
              }
              p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                text-align: center;
                letter-spacing: -0.02em;

                color: #ffffff;
              }
            }
          }
        }
      }
    }
    .mainContentHolder {
      width: 100%;
      nav {
        .nav-select {
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          background: transparent;
          border: none;
          color: white;
          padding-right: 30px;
          background-image: url("../img/cheveron.svg");
          background-repeat: no-repeat;
          background-position: calc(100% - 5px) center;
          background-size: 15px;
          &:focus {
            background: transparent url("../img/cheveron.svg") no-repeat;
            background-position: calc(100% - 5px) center;
            background-size: 15px;
            color: white;
            outline: none;
            box-shadow: none;
          }
        }
        .input-group {
          &-text {
            background: transparent;
            border: none;
          }
        }
        .nav-btn {
          border: 2px solid #53b9ea;
          border-radius: 30px;
        }
        .nav-btn-blue {
          background: linear-gradient(136.67deg, #53b9ea 8.34%, #2f80ed 95.26%);
          mix-blend-mode: normal;
          opacity: 0.8;
          box-shadow: 0px 4px 31px #53b9ea;
          border-radius: 4px;
        }
        .nav-btn-purple {
          background: linear-gradient(136.67deg, #ff409a 8.34%, #c438ef 95.26%);
          mix-blend-mode: normal;
          opacity: 0.8;
          box-shadow: 0px 4px 31px #ba1358;
          border-radius: 4px;
        }
        .profile-img {
          border-radius: 3px;
          width: 30px;
          height: 30px;
        }
        .left-border {
          border-left: 3px solid #494949;
        }

        ul {
          li {
            margin-right: 18px;
          }
          li.nav-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
      main {
        .welcome-header {
          h6 {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            font-feature-settings: "salt" on, "liga" off;
            color: #5b5a99;
          }
          h4 {
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 44px;
            font-feature-settings: "salt" on, "liga" off;
            color: #ffffff;
          }
        }
      }
    }
  }
}
